[submodule "external/DirectXTK"]
	path = external/DirectXTK
	url = https://github.com/Microsoft/DirectXTK
[submodule "external/OpenFBX"]
	path = external/OpenFBX
	url = https://github.com/nem0/OpenFBX
